# Réglages minimaux possédés par your-cloud.
# Les redirections ne doivent pas modifier implicitement le chemin réseau.
net.ipv4.conf.all.accept_redirects = 0
net.ipv4.conf.default.accept_redirects = 0
net.ipv6.conf.all.accept_redirects = 0
net.ipv6.conf.default.accept_redirects = 0
